body {
  margin: 0;
  background-color: #888;
  font-family: 'Karla', sans-serif; }

h1 {
  color: white;
  font-family: 'Unica One', cursive;
  font-size: 3rem; }

.row {
  margin-right: -15px;
  margin-left: -15px; }

.gray {
  background-color: lightgrey;
  -webkit-clip-path: polygon(0 0%, 100% 4%, 100% 96%, 0% 100%);
  clip-path: polygon(0 0%, 100% 4%, 100% 96%, 0% 100%);
  padding: 65px 10px; }

.white {
  background-color: white;
  -webkit-clip-path: polygon(0 0%, 100% 4%, 100% 96%, 0% 100%);
  clip-path: polygon(0 8%, 100% 4%, 100% 96%, 0% 100%);
  padding: 65px 10px; }

.clip {
  clip-path: polygon(0 0%, 100% 4%, 100% 96%, 0% 100%); }

.black-txt {
  color: black; }

.header {
  height: 600px;
  background-color: #ccc;
  background-image: url("headshot-bck.jpg");
  background-size: 100% 1000px;
  padding-top: 90px; }

.header-txt, .header-txt__sub {
  color: white;
  font-family: 'Unica One', cursive;
  font-size: 3rem;
  margin: auto;
  text-align: center; }
  .header-txt__sub {
    text-align: center;
    font-size: 2rem; }

.flex {
  display: flex; }

.pad-top-80 {
  padding-top: 80px; }

.pad-top-50 {
  padding-top: 50px; }

.pad-top-100 {
  padding-top: 100px; }

.auto-marg {
  margin: auto; }

.marg-top-150 {
  margin-top: 150px; }

.marg-150-50 {
  margin: 150px 50px; }

.margin-0 {
  margin: 0; }

div.container {
  font-family: 'Unica One', cursive;
  margin: 0 auto;
  padding: 45px;
  text-align: center;
  background: rgba(0, 0, 0, 0.5); }

div.container a {
  color: #FFF;
  text-decoration: none;
  font: 20px Unica One;
  margin: 0px 10px;
  padding: 10px 10px;
  position: relative;
  z-index: 1; }

.navbar {
  background: rgba(0, 0, 0, 0.5);
  height: 100px;
  width: 100%;
  overflow: hidden;
  position: fixed; }

div.brackets a:before, div.brackets a:after {
  position: absolute;
  opacity: 0;
  font-size: 35px;
  top: 0px;
  transition: all 0.3s; }

div.brackets a:before {
  content: '(';
  left: 0px;
  transform: translateX(10px); }

div.brackets a:after {
  content: ')';
  right: 0px;
  transform: translateX(-10px); }

div.brackets a:hover:before, div.brackets a:hover:after {
  opacity: 1;
  transform: translateX(0px); }

.sticky {
  position: fixed;
  top: 0;
  width: 100%; }

.scrolled {
  background-color: black;
  transition: 0.3s; }

.pjct-img {
  width: 500px;
  height: 300px; }

.link {
  text-decoration: none; }

li {
  list-style-type: none; }

.pos {
  position: relative;
  margin: 70px auto 0; }

.down-arrow {
  height: 60px;
  width: 60px;
  border: 4px solid black;
  border-radius: 100%; }

.down-arrow:before, .down-arrow:after {
  content: '';
  position: absolute;
  top: 26px;
  width: 18px;
  border: 2px solid black;
  transition: all 0.3s;
  -webkit-transition: all 0.3s; }

.down-arrow:before {
  transform: rotateZ(45deg);
  -webkit-transform: rotateZ(45deg);
  left: 9px; }

.down-arrow:after {
  transform: rotateZ(-45deg);
  -webkit-transform: rotateZ(-45deg);
  left: 22px; }

.down-arrow:hover {
  cursor: pointer;
  border-width: 0; }

.down-arrow:hover:before, .down-arrow:hover:after {
  top: 40px; }

.down-arrow:hover:before {
  left: 13px; }

.down-arrow:hover:after {
  left: 26px; }

#social {
  padding: 15px 0;
  box-sizing: border-box;
  border-radius: 3px;
  cursor: default;
  text-align: center; }
  #social a {
    display: inline-flex;
    width: 42px;
    height: 42px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    transition: 0.2s ease; }

.socialDark {
  margin-top: 35px;
  background: #333; }
  .socialDark #social:hover a {
    color: #888; }
  .socialDark #social a {
    color: #eee; }
    .socialDark #social a:hover {
      color: #eee; }

.scramble-content {
  text-align: center;
  position: relative;
  top: 50%; }

.content span {
  width: 30px;
  display: inline-block; }

#chartdiv {
  width: 50%;
  height: 250px;
  margin: auto; }

.aboutme {
  background-color: #ccc; }

/*# sourceMappingURL=style.css.map */
